
.time-slot.selected {
    background-color: #b1b1b1; /* Цвет выделенной ячейки */
    color: white;
}

/* Убираем анимацию на загрузке страницы */
.time-slot {
    cursor: pointer;
    animation: none; /* Убираем анимацию */
   
}

/* Применяем анимацию для выделенной ячейки */
.time-slot.selected {
    background-color: #b1b1b1; /* Цвет выделенной ячейки */
    animation: highlight 0.5s ease-in-out;
}


/* Анимации для выделения и снятия выделения */
@keyframes highlight {
    from {
        background-color: white;
    }
    to {
        background-color: #b1b1b1;
    }
}

/* Для заголовков с днями недели */
.day-column {
    writing-mode: horizontal-tb; /* Оставляем горизонтальное написание текста */
    transform: none; /* Отменяем поворот */
    
}

#schedule-table th:not(.day-column) {
    writing-mode: vertical-rl; /* Vertical text writing from right to left */
    text-orientation: mixed;   /* Mixed text orientation support */
    transform: rotate(180deg); /* Rotate the text for correct display */
    height: 50px; /* Set height for better text readability */
    vertical-align: middle; /* Center the text vertically */
    font-weight: 300; /* Set the font weight to light */
    font-family: 'Arial', sans-serif; /* Set the font family */
    font-size: 8px; /* Set the font size */
    padding: 0px 0px; /* Верхний и нижний отступ - 5px, левый и правый отступ - 10px */
    text-align: center; /* Выравнивание текста по центру */
}

#schedule-table .modal-body {
    max-height: 70vh; /* Ограничиваем высоту модального окна */
    overflow-y: auto; /* Включаем вертикальную прокрутку внутри модального окна */
}

#schedule-table-container {
    overflow-x: auto; /* Включаем горизонтальную прокрутку для таблицы */
    white-space: nowrap; /* Запрещаем перенос текста, чтобы сохранить таблицу на одной линии */
}

#calendar-container {
    position: fixed;
    top: 10em;
    left: 50em;
    right: 10em;
    bottom: 10em;
  }
.fc-header-toolbar {
/*
    the calendar will be butting up against the edges,
    but let's scoot in the header's buttons
    */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}