<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ specialist.name }}'s Schedule - chatflow</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{ specialist.name }}'s Schedule</h1>
        <!-- Здесь будет отображаться расписание специалиста -->
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>