{% extends 'core/base.html' %}

{% block title %}Specialist Details{% endblock %}

{% block content %}
<h1>Specialist Details</h1>

<div id="specialist-detail-container">
    <p>Select a specialist from the list to view details. Calendar ID: "{{ specialist.calendar.id }}"</p>
</div>


<h2>Calendar</h2>
<div id="calendar" data-calendar-id="{{ specialist.calendar.calendar_id }}"></div>

<!-- Сохраняем данные событий в скрытом элементе с использованием json_script -->
{{ events|json_script:"events-data" }}

<!-- Скрытое поле для CSRF-токена -->
<input type="hidden" id="csrf-token" value="{{ csrf_token }}">

{% endblock %}